<% layout("/layouts/boilerplate") %>

<div class="create-form-container">
  <h2>Create New Listing</h2>

  <form method="POST" action="/listings" class="create-form">
    <input type="text" placeholder="Enter the title" name="listings[title]" required />

    <textarea name="listings[description]" placeholder="Enter the description" rows="4" required></textarea>

    <input type="text" placeholder="Enter the location" name="listings[location]" required />

    <input type="text" placeholder="Enter the image URL/LINK" name="listings[image]"  />

    <input type="text" placeholder="Enter the country" name="listings[country]" required />

    <input type="number" placeholder="Enter the Price" name="listings[price]" required />

    <button type="submit">Add Listing</button>
  </form>
</div>
